{% extends 'base.html' %}
{% block content %}
<div>
    <h1><a href="{% url 'song:song-search' %}">노래 검색</a></h1>
    <form action="" method="GET">
        <input id="input-keyword" type="text" name="keyword" value="{{ request.GET.keyword }}" placeholder="query">
        <button type="subnmit">검색</button>
    </form>

    {% for song_info in song_infos %}
    {% include 'include/song_search_result.html' with type=song_info.type songs=song_info.songs only %}
    {% endfor %}
</div>
{% endblock %}